/* start variables  */
:root {
    --main-color: #314584;
    --background-color: #ff3946;
  }
  /* End Variables  */
  /*start global rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/*end global rules*/
/* start the header */
header p{
    color: var(--background-color);
    font-size: 1.1rem;
}
header h3{
    color: var(--main-color);
    font-size: 3rem;
    position: relative;
    bottom: 20px;

}
header span { 
    position: relative;   
    bottom: 40px;
    left: 100%;
    color: var(--main-color);
}
header span :first-child:hover{
    color: rgb(202, 202, 202);
    padding-right: 20px;
}
header span :nth-child(2):hover{
    color: rgb(202, 199, 199);
    padding-left: 20px;
}
/* end the header */
/* article and contain */
.contain{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 12px;
}
.contain article i{
    color: var(--background-color);
    padding: 20px;
    position: relative;
    left:88%;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
.contain article i:hover{
   color: whitesmoke;
}
 .contain article{
position: relative;
box-shadow: ;
bottom: 400px;
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-ms-transition: 0.5s;
-o-transition: 0.5s;
}

 .contain article:hover{
background-color: var(--background-color);

}
/* start article left*/
.left h3{
font-size: 18px;
padding: 20px;  
}
.left{
    border:1px solid rgb(211, 211, 211);
    padding: 0%;
    margin:0%;
    box-shadow: 10px rgb(12, 9, 3) outset;
}
.left span{
    padding: 20px;
    
}
.left p{
    padding: 20px;
    width: 300px;
}
/* end article left */
/* start article middle */
.middle h3{
    font-size: 1.1rem; 
    padding: 20px;
}
.middle{
    border:1px solid rgb(211, 211, 211);
    padding: 0px;

    }
.middle span{
    padding: 20px;
}
.middle p{
    padding: 20px;
    width: 300px;
}
/* end article middle */
/* start article right */
.right h3{ 
    font-size:1.1rem;
    padding: 20px;
}
.right{
    border:1px solid rgb(211, 211, 211);
    padding: 0px;
}
.right span{
    padding: 20px;
}
.right p{
    padding: 20px;
    width: 300px;
}
article span{
    color: rgb(216, 216, 216);

}

    
/* end article right */
.sircle{
  width: 400px;
  border-radius: 75% 65%;
  height: 200px;
  position: relative;
  left: 0%;
  z-index: -1;
  background-color: rgba(109, 150, 196, 0.5)    ;
  -webkit-border-radius: 75% 65%;
  -moz-border-radius: 75% 65%;
  -ms-border-radius: 75% 65%;
  -o-border-radius: 75% 65%;
}