*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    height: 600px;
    padding-top: 30px;
}
header .header{
    display: flex;
    justify-content: start;
    align-items: center;
}
header .header .con{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 53%;
}
header .header .con nav a{
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
    color: #223077;
    font-size: 13px;
}
header .header .language{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 47%;
    padding-left: 70px;
}
header .header .language .pur span{
    padding-right: 15px;
    color: #223077;
    font-weight: bold;
    font-size: 14px;
}
header .header .language .pur a{
    padding: 10px 20px;
    background-color: #fffffd;
    color: #d65d5d;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 2px 2px 5px #eee,
    2px 2px 5px #999;
}
header .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    padding-top: 30px;
}
header .container .ph img{
    width: 500px;
    height: 500px;
    padding-left: 60px;
    padding-top: 20px;
}
header .container .pra{
    padding-left: 50px;
}
header .container .pra h1{
    color: #314584;
    font-size: 48px;
    font-weight: 600;
}
header .container .pra p{
    font-size: 13px;
    color: #314584;
    padding-bottom: 40px;
}
header .container .pra a{
    text-decoration: none;
}
header .container .pra .one{
    background-color: #ff3946;
    color: #fffffd;
    border-radius:30px;
    padding: 10px 25px;
    font-size: 15px;
}
header .container .pra .one:hover{
    background-color: transparent;
    color: violet;
    border: 1px solid #d65d5d;
}

header .container .pra .two{
    color: #314584;
    border-radius:30px;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 600;
}
header .container .pra .two:hover{
    color: #fffffd;
    border: 1px solid #c95e65;
    background-color: #fd3f4b;
}

